# Figuring out which systems are completely ready to be processed by script workflow
---

Notebooks commonly broke because of trivial issues, like the files weren't downloaded locally or something like that

# Import Modules

In [1]:
import os
print(os.getcwd())
import sys
import time; ti = time.time()

import numpy as np

# #########################################################
from methods import get_df_jobs, get_df_atoms_sorted_ind

/home/raulf2012/Dropbox/01_norskov/00_git_repos/PROJ_IrOx_OER/dft_workflow/job_analysis/systems_fully_ready

In [ ]:
from methods import isnotebook    
isnotebook_i = isnotebook()
if isnotebook_i:
    from tqdm.notebook import tqdm
    verbose = True
else:
    from tqdm import tqdm
    verbose = False

In [4]:
df_jobs = get_df_jobs()
df_jobs_i = df_jobs

df_atoms_sorted_ind = get_df_atoms_sorted_ind()

In [5]:
# #########################################################
group_cols = ["compenv", "slab_id", "ads", "active_site", "att_num", ]
grouped = df_jobs_i.groupby(group_cols)
# #########################################################
num_groups_processed = 0
for i_cnt, (name_i, group_i) in enumerate(grouped):
    tmp = 42

In [6]:
group_i

,bulk_id,slab_id,job_id,facet,compenv,ads,active_site,att_num,rev_num,compenv_origin,submitted,num_revs
job_id,,,,,,,,,,,,
gekotora_53,nu94n3v4n4,wufulafe_03,gekotora_53,1-11,slac,o,NaN,1,1,wsl,True,3
palilihe_69,nu94n3v4n4,wufulafe_03,palilihe_69,1-11,slac,o,NaN,1,2,slac,True,3
dekuwusi_46,nu94n3v4n4,wufulafe_03,dekuwusi_46,1-11,slac,o,NaN,1,3,slac,True,3

In [7]:
df_atoms_sorted_ind

name_i

                                                                             atom_index_mapping  \
compenv slab_id     ads  active_site att_num
nersc   fosurufu_23 bare 43.0        1        {0: 0, 1: 1, 2: 2, 4: 63, 5: 3, 7: 4, 8: 64, 1...
                         45.0        1        {0: 0, 1: 1, 2: 2, 4: 63, 5: 3, 7: 4, 8: 64, 1...
                    o    NaN         1        {0: 0, 1: 1, 2: 2, 4: 64, 5: 3, 7: 4, 8: 65, 1...
        galopuba_86 bare 21.0        1        {0: 0, 1: 1, 3: 63, 4: 2, 6: 3, 7: 64, 9: 4, 1...
                    o    NaN         1        {0: 0, 1: 1, 3: 64, 4: 2, 6: 3, 7: 65, 9: 4, 1...
...                                                                                         ...
slac    wiwiwetu_44 o    NaN         1        {0: 0, 1: 1, 3: 28, 4: 2, 6: 3, 7: 29, 9: 4, 1...
                    oh   19.0        0        {0: 0, 1: 1, 3: 28, 4: 2, 6: 3, 7: 29, 9: 4, 1...
                                     1        {0: 0, 1: 1, 3: 28, 4: 2, 6: 3, 7: 29, 9: 4, 1...
                                     2        {0: 0, 1: 1, 3: 28, 4: 2, 6: 3, 7: 29, 9: 4, 1...
                                     3        {0: 0, 1: 1, 3: 28, 4: 2, 6: 3, 7: 29, 9: 4, 1...

                                                                                      sort_list  \
compenv slab_id     ads  active_site att_num
nersc   fosurufu_23 bare 43.0        1        [0, 1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, ...
                         45.0        1        [0, 1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, ...
                    o    NaN         1        [0, 1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, ...
        galopuba_86 bare 21.0        1        [0, 1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, ...
                    o    NaN         1        [0, 1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, ...
...                                                                                         ...
slac    wiwiwetu_44 o    NaN         1        [0, 1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, ...
                    oh   19.0        0        [0, 1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, ...
                                     1        [0, 1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, ...
                                     2        [0, 1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, ...
                                     3        [0, 1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, ...

                                                                                    resort_list  \
compenv slab_id     ads  active_site att_num
nersc   fosurufu_23 bare 43.0        1        [0, 1, 2, 63, 3, 4, 64, 5, 6, 65, 7, 8, 66, 9,...
                         45.0        1        [0, 1, 2, 63, 3, 4, 64, 5, 6, 65, 7, 8, 66, 9,...
                    o    NaN         1        [0, 1, 2, 64, 3, 4, 65, 5, 6, 66, 7, 8, 67, 9,...
        galopuba_86 bare 21.0        1        [0, 1, 63, 2, 3, 64, 4, 5, 65, 6, 7, 66, 8, 9,...
                    o    NaN         1        [0, 1, 64, 2, 3, 65, 4, 5, 66, 6, 7, 67, 8, 9,...
...                                                                                         ...
slac    wiwiwetu_44 o    NaN         1        [0, 1, 28, 2, 3, 29, 4, 5, 30, 6, 7, 31, 8, 9,...
                    oh   19.0        0        [0, 1, 28, 2, 3, 29, 4, 5, 30, 6, 7, 31, 8, 9,...
                                     1        [0, 1, 28, 2, 3, 29, 4, 5, 30, 6, 7, 31, 8, 9,...
                                     2        [0, 1, 28, 2, 3, 29, 4, 5, 30, 6, 7, 31, 8, 9,...
                                     3        [0, 1, 28, 2, 3, 29, 4, 5, 30, 6, 7, 31, 8, 9,...

                                                   job_id  was_sorted  \
compenv slab_id     ads  active_site att_num
nersc   fosurufu_23 bare 43.0        1        geninaku_72        True
                         45.0        1        buwepogo_88       False
                    o    NaN         1        wototabi_72        True
        galopuba_86 bare 21.0        1        manofena_80       False
                    o    NaN         1        fatimuse_24        True
...                                                   ...         ...
slac    wiwiwetu_44 o    NaN         1        setubuha_11        True
                    oh   19.0        0        himesabi_01       False
                                     1        ribipuhu_00       False
                                     2        libugumi_38       False
                                     3        kanebidu_78       False

                                              failed_to_sort  \
compenv slab_id     ads  active_site att_num
nersc   fosurufu_23 bare 43.0        1                 False
                         45.0        1                 False
                    o    NaN         1                 False
        galopuba_86 bare 21.0        1                 False
                    o    NaN         1                 False
...                                                      ...
slac    wiwiwetu_44 o    NaN         1                 False
                    oh   19.0        0                 False
                                     1                 False
                                     2                 False
                                     3                 False

                                                                              atoms_sorted_good  \
compenv slab_id     ads  active_site att_num
nersc   fosurufu_23 bare 43.0        1        (Atom('O', [1.3549083766114212, 0.791460566807...
                         45.0        1        (Atom('O', [1.3549083766114212, 0.791460566807...
                    o    NaN         1        (Atom('O', [1.3549083766114212, 0.791460566807...
        galopuba_86 bare 21.0        1        (Atom('O', [3.1336884564855194, 3.035068876008...
                    o    NaN         1        (Atom('O', [3.1336884564855194, 3.035068876008...
...                                                                                         ...
slac    wiwiwetu_44 o    NaN         1        (Atom('O', [2.392215, 0.964168208499986, 7.499...
                    oh   19.0        0        (Atom('O', [2.392215, 0.964168208499986, 7.499...
                                     1        (Atom('O', [2.392215, 0.964168208499986, 7.499...
                                     2        (Atom('O', [2.392215, 0.964168208499986, 7.499...
                                     3        (Atom('O', [2.392215, 0.964168208499986, 7.499...

                                              atoms_distance_before_sorting  \
compenv slab_id     ads  active_site att_num
nersc   fosurufu_23 bare 43.0        1                             7.108947
                         45.0        1                             0.209470
                    o    NaN         1                             7.107938
        galopuba_86 bare 21.0        1                             0.014079
                    o    NaN         1                             7.811028
...                                                                     ...
slac    wiwiwetu_44 o    NaN         1                             5.811910
                    oh   19.0        0                             0.036121
                                     1                             0.167404
                                     2                             0.046519
                                     3                             0.023393

                                              atoms_distance_after_sorting  \
compenv slab_id     ads  active_site att_num
nersc   fosurufu_23 bare 43.0        1                            0.124942
                         45.0        1                                 NaN
                    o    NaN         1                            0.213779
        galopuba_86 bare 21.0        1                                 NaN
                    o    NaN         1                            0.053699
...                                                                    ...
slac    wiwiwetu_44 o    NaN         1                            0.022875
                    oh   19.0        0                                 NaN
                                     1                                 NaN
                                     2                                 NaN
                                     3                                 NaN

                                                                            magmoms_sorted_good
compenv slab_id     ads  active_site att_num
nersc   fosurufu_23 bare 43.0        1        [1.033, 0.385, 0.978, 1.047, 0.019, 0.354, 0.4...
                         45.0        1                                                     None
                    o    NaN         1        [0.0, -0.0, -0.0, -0.0, 0.0, -0.0, 0.0, 0.0, -...
        galopuba_86 bare 21.0        1                                                     None
                    o    NaN         1        [-0.0, 0.0, 0.0, -0.0, 0.0, -0.0, -0.0, -0.0, ...
...                                                                                         ...
slac    wiwiwetu_44 o    NaN         1        [-0.812, 0.161, -0.141, 0.045, 0.033, 0.107, 0...
                    oh   19.0        0                                                     None
                                     1                                                     None
                                     2                                                     None
                                     3                                                     None

[954 rows x 10 columns]

In [ ]:
# #########################################################
print(20 * "# # ")
print("All done!")
print("Run time:", np.round((time.time() - ti) / 60, 3), "min")
print("sys_fully_ready.ipynb")
print(20 * "# # ")
# #########################################################